.client_form{
    width: 60%;
    height: fit-content;
    margin: auto;
    text-align: center;
}
.client_form h2{
    text-align: center;
}
.client_print{
    width: 100%;
    height: fit-content;
    margin: auto;
    

}
.client_print h2{
    text-align: center;
    padding: 1.5rem 1.5rem;

}

form{
    padding: 1.5rem 1.5rem;
    height: fit-content;
    width: 100%;
    
}


.adress , .date , .status , .full_name , .electronic_adress{ 
    padding: 0.5rem 0.5rem;   

}
.full_name , .electronic_adress{    
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1;
}