.complaint__form{
    width: 40%;
    height: fit-content;
    margin: auto;
    text-align: center;
}
.complaint__form h2{
    text-align: center;
}
.complaint__print{
    width: 700%;
    height: fit-content;
    margin: auto;
    

}

form{
    padding: 1.5rem 1.5rem;
   
}

