*{
    padding: 0;
    margin: 0;
}


input{
    color: #fff;
    width: 100%;
    min-height: 3.5vh;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-bottom: 3px solid rgb(248, 180, 32);
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-radius: 4px;
    text-align: center;


    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0px 0px 15px  rgba(196, 195, 195, 0.37);
    
}
input:focus{
    color: black;
    width: 100%;
    min-height: 3.5vh;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 3px solid orange;
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.589);
    text-align: center;

    
}
input::placeholder{
    color: rgba(247, 247, 247, 0.856);
    text-align: center;
}
select{
    color: #fff;
    width: 100%;
    min-height: 3.5vh;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-bottom: 3px solid rgb(248, 180, 32);
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-radius: 4px;
    text-align: center;


    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0px 0px 15px  rgba(196, 195, 195, 0.37);
    
}
select:focus{
    color: black;
    width: 100%;
    min-height: 3.5vh;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 3px solid orange;
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.589);
    text-align: center;

    
}
select::placeholder{
    color: rgba(247, 247, 247, 0.856);
    text-align: center;
}


textarea{
    color: #fff;
    width: 100%;
    min-height: 3.5vh;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid white;

    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-radius: 4px;
    text-align: center;


    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0px 0px 15px  rgba(196, 195, 195, 0.37);
    
}
textarea:focus{
    color: black;
    width: 100%;
    min-height: 3.5vh;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-top-right-radius: 3px ;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.589);
    text-align: center;

    
}

textarea::placeholder{
    color: rgba(247, 247, 247, 0.856);
    text-align: center;
}




/*------------------------BTN---------------------------*/

.submitBtn{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background-image: linear-gradient(135deg, #B7F8DB 10%, #50A7C2 100%);
}
.submitBtn:hover{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background-image: linear-gradient(135deg, #B7F8DB 10%, #73deff 100%);
}






.editBtn{
    color: #fff;
    border: none;
   
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background-image: linear-gradient(135deg, #09C6F9 10%, #045DE9 100%);
}
.editBtn:hover{
    color: #fff;
    border: none;
   
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background-image: linear-gradient(135deg, #09C6F9 10%, #0b295a 100%);
}







.deleteBtn{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background: radial-gradient(circle, rgba(252,29,0,1) 0%, rgba(179,6,48,1) 100%, rgba(216,75,134,1) 100%, rgba(252,70,107,1) 100%);
}
.deleteBtn:hover{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background: radial-gradient(circle, rgba(252,29,0,1) 0%, rgb(228, 5, 61) 100%, rgba(216,75,134,1) 100%, rgba(252,70,107,1) 100%);
}






.submitUpdateBtn{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background-image: linear-gradient(135deg, #70F570 10%, #55d431 100%);
}
.submitUpdateBtn:hover{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    background-image: linear-gradient(135deg, #70F570 10%, #17460a 100%);
}






.btnOn{

    background-image: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;

}
.btnOn:hover{

    background-image: linear-gradient(135deg, #FEC163 10%, #83280c 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;

}


.btnOff{
    background-image: linear-gradient(135deg, #f09916 10%, #f0c817a1 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
}
.btnOff:hover{
    background-image: linear-gradient(135deg, #f09916 10%, #574a11 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
}

.formSubmit{
    background-color: rgb(204, 152, 39);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.formSubmit:hover{
    background-color: rgb(216, 82, 5);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 0px 0px 9px #fff;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

